<div id="user-profile-modal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">

				<!-- tab buttons -->
				<div class="tabs-wrapper row no-pad"></div>

				<!-- game history content -->
				<div id="game-history" class="tab-content active">

					<!-- WTL table -->
					<table class="wtl">
						<thead>
							<tr>
								<td>Win</td>
								<td>Tie</td>
								<td>Lose</td>
							</tr>
						</thead>
						<tbody></tbody>
					</table>

					<!-- games list -->
					<div class="games-list">
						
						<div class="panel panel-danger">
							<div class="panel-heading">
								header
							</div>
							<div class="panel-body">
								body
							</div>
						</div>
						
						<div class="panel panel-info">
							<div class="panel-heading">
								header
							</div>
							<div class="panel-body">
								body
							</div>
						</div>
						
						<div class="panel panel-success">
							<div class="panel-heading">
								header
							</div>
							<div class="panel-body">
								body
							</div>
						</div>
						
					</div>
					
				</div>


				<!-- profile settings content -->
				<div id="profile-settings" class="tab-content">
					profile settings
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>