<div id="user-profile-modal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">

				<!-- tab buttons -->
				<div class="tabs-wrapper row no-pad"></div>

				<!-- game history content -->
				<div id="game-history" class="tab-content">

					<!-- WTL table -->
					<table class="wtl">
						<thead>
							<tr>
								<td>Wins</td>
								<td>Ties</td>
								<td>Losses</td>
							</tr>
						</thead>
						<tbody></tbody>
					</table>

					<!-- games list -->
					<div class="games-list"></div>
					
				</div>


				<!-- profile settings content -->
				<div id="profile-settings" class="tab-content">
					
					<form id="profile-settings-form">
						<h4>Change Password</h4>
						
						<div class="form-group">
							<label class="label">Current Password</label>
							<input type="password" class="form-control" name="currentPassword" placeholder="Current Password"/>
						</div>
						
						<div class="form-group">
							<label class="label">New Password</label>
							<input type="password" class="form-control" name="newPassword" placeholder="New Password"/>
						</div>

						<div class="form-group">
							<label class="label">Repeat New Password</label>
							<input type="password" class="form-control" name="repeatNewPassword" placeholder="Repeat New Password"/>
						</div>

						<button type="button" class="btn btn-success">
							Change Password
						</button>
					</form>

				</div>

			</div>
		</div>
	</div>
</div>