<div id="user-profile-modal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">

				<!-- tab buttons -->
				<div class="tabs-wrapper row no-pad"></div>

				<!-- game history content -->
				<div id="game-history" class="tab-content active">

					<!-- WTL table -->
					<table class="wtl">
						<thead>
							<tr>
								<td>Wins</td>
								<td>Ties</td>
								<td>Losses</td>
							</tr>
						</thead>
						<tbody></tbody>
					</table>

					<!-- games list -->
					<div class="games-list">
						
						<div class="panel panel-danger">
							<div class="panel-heading">
								Loss
								<span class="date">
									2018-02-18 15:32:11
								</span>
							</div>
							<div class="panel-body">
								
								<div class="row">
									<div class="player col-xs-6 col-sm-3">
										<img class="avatar" src="/upload/avatars/ad0234829205b9033196ba818f7a872b.jpg?updated=1517932616019">
										player 1
									</div>
									<div class="player col-xs-6 col-sm-push-6 col-sm-3">
										<img class="avatar" src="/upload/avatars/815859be0433bce609282c946a99249f.jpg?updated=1517932448291">
										player 2
									</div>
									<div class="col-xs-12 col-sm-pull-3 col-sm-6">
										<table id="game-result-map" class="table table-bordered">
											<tbody><tr><td class="0-0"><img class="img-responsive" src="/img/icon-transparent.png"></td><td class="0-1"><img class="img-responsive" src="/img/icon-transparent.png"></td><td class="0-2"><img class="img-responsive" src="/img/icon-transparent.png"></td></tr><tr><td class="1-0"><img class="img-responsive" src="/img/icon-transparent.png"></td><td class="1-1"><img class="img-responsive" src="/img/icon-transparent.png"></td><td class="1-2"><img class="img-responsive" src="/img/icon-transparent.png"></td></tr><tr><td class="2-0"><img class="img-responsive" src="/img/icon-transparent.png"></td><td class="2-1"><img class="img-responsive" src="/img/icon-transparent.png"></td><td class="2-2"><img class="img-responsive" src="/img/icon-transparent.png"></td></tr>
											</tbody>
										</table>
									</div>
								</div>
								
							</div>
						</div>
						
						<div class="panel panel-info">
							<div class="panel-heading">
								Tie
							</div>
							<div class="panel-body">
								body
							</div>
						</div>
						
						<div class="panel panel-success">
							<div class="panel-heading">
								Win
							</div>
							<div class="panel-body">
								body
							</div>
						</div>
						
					</div>
					
				</div>


				<!-- profile settings content -->
				<div id="profile-settings" class="tab-content">
					profile settings
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>