<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/css/style.min.css" />
		<script type="text/javascript" src="/scripts/lib/lib.js"></script>
		<script type="text/javascript" src="/scripts/pages-min/<%= script %>"></script>
	</head>
	<body class="index">

		<div class="title">
			Tic Tac Toe
		</div>
		
		<button class="btn btn-default">
			bootstrap button
		</button>

	</body>
</html>
