<!DOCTYPE html>
<html>
	<head>
		<title>Game</title>
		<% include partials/stylesheets.ejs %>
		<% include partials/scripts.ejs %>
	</head>
	<body class="game">
		<input type="hidden" id="user-id" value="<%= user.id %>"/>
		
		<div class="container">

			game page
			
			<hr/>
			
			<table id="game-map" border="1"></table>
			
		</div>

	</body>
</html>
