<!DOCTYPE html>
<html>
	<head>
		<title>Game</title>
		<% include partials/stylesheets.ejs %>
		<% include partials/scripts.ejs %>
	</head>
	<body class="game">

		<div class="container">

			game page

		</div>

	</body>
</html>
