<!DOCTYPE html>
<html>
	<head>
		<title>Game</title>
		<link rel="stylesheet" href="/stylesheets/css/style.min.css" />
		<script type="text/javascript" src="/scripts/lib/lib.js"></script>
		<script type="text/javascript" src="/scripts/pages-min/common.js"></script>
		<script type="text/javascript" src="/scripts/pages-min/<%= script %>"></script>
	</head>
	<body class="game">

		<div class="container">

			game page

		</div>

	</body>
</html>
