<!DOCTYPE html>
<html>
	<head>
		<title>Lobby</title>
		<% include partials/stylesheets.ejs %>
		<% include partials/scripts.ejs %>
	</head>
	<body class="lobby" data-controllers="Lobby">

		<script type="text/javascript">
			var myUser = <%- JSON.stringify(myUser) %>;
		</script>
		
		<div class="container">

			<!-- header -->
			<% include partials/header.ejs %>
			
			<!-- lobby chat -->
			<div id="chat" class="well">
				<div class="chat-body">
				</div>							
				<div class="text-box">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Message"/>
						<span class="input-group-btn">
							<button class="btn btn-primary" type="button">Send</button>
						</span>
					</div>
				</div>
			</div>

			<div class="row">
				<!-- connected users -->
				<div class="col-xs-12 col-sm-6 col-lg-4">
					Connected users: 
					<div id="users-list">
					</div>
				</div>
				<!-- games list -->
				<div class="col-xs-12 col-sm-6 col-lg-offset-4 col-lg-4">
					games list:
					<div id="games-list">
					</div>
				</div>
			</div>

		</div>

		<!-- challenge modal -->
		<div id="challenge-modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						You have been challenged by <a class="challenger" target="_blank"></a>
						<div class="counter"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-success">Accept</button>
						<button type="button" class="btn btn-danger" data-dismiss="modal">Decline</button>
					</div>
				</div>
			</div>
		</div>
		
		<!-- challenge pending modal -->
		<div id="challenge-pending-modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						Challenge pending...
						<div class="counter"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
		
	</body>
</html>
