<!DOCTYPE html>
<html>
	<head>
		<title>Lobby</title>
		<% include partials/stylesheets.ejs %>
		<% include partials/scripts.ejs %>
	</head>
	<body class="lobby">

		<div class="container">

			<!-- header -->
			<div class="page-header">
				<img class="avatar-preview" src="/upload/avatars/<%= user.avatar %>"/>
				
				Logged in as
				
				<a class="profile-link" href="/user/<%= user.id %>">
					<%= user.username %>
				</a>
				
				<form id="update-avatar-form" enctype="multipart/form-data">
					<input class="avatar" name="avatar" type="file"/>
				</form>
				
				
				<a class="btn btn-danger logout-btn" href="/logout">
					<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
					Logout
				</a>
			</div>

			<!-- lobby chat -->
			<div id="chat" class="well">
				<div class="chat-body">
				</div>							
				<div class="text-box">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Message"/>
						<span class="input-group-btn">
							<button class="btn btn-primary" type="button">Send</button>
						</span>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-4">
					Connected users: 
					<div id="users-list">
					</div>
				</div>
				<div class="col-xs-offset-4 col-xs-4">
					games list:
				</div>
			</div>

		</div>



	</body>
</html>
