<!DOCTYPE html>
<html>
	<head>
		<title>Lobby</title>
		<link rel="stylesheet" href="/stylesheets/css/style.min.css" />
		<script type="text/javascript" src="/scripts/lib/lib.js"></script>
		<script type="text/javascript" src="/scripts/pages-min/common.js"></script>
		<script type="text/javascript" src="/scripts/pages-min/<%= script %>"></script>
	</head>
	<body class="lobby">

		lobby page
		
		<h4>Logged in as <%= user.username %></h4>
		
		<a href="/logout">Logout</a>

	</body>
</html>
