<!DOCTYPE html>
<html>
	<head>
		<title>Lobby</title>
		<% include partials/stylesheets.ejs %>
		<% include partials/scripts.ejs %>
	</head>
	<body class="lobby" data-controllers="Lobby Tabs UserProfileModal">

		<script type="text/javascript">
			var myUser = <%- JSON.stringify(myUser) %>;
		</script>
		
		<div class="container">

			<!-- header -->
			<div class="page-header row">

				<div class="col-xs-12 col-sm-9">
					<img class="avatar-preview" src="/upload/avatars/<%= myUser.avatar %>"/>

					Logged in as

					<a class="profile-link user-profile-modal-link" data-id="<%= myUser.id %>" href="#">
						<%= myUser.username %>
					</a>

					<form id="update-avatar-form" enctype="multipart/form-data">
						<input class="avatar" name="avatar" type="file"/>
					</form>
				</div>

				<div class="col-xs-12 col-sm-3">
					<a class="btn btn-danger logout-btn" href="/logout">
						<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
						Logout
					</a>
				</div>

			</div>
			
			<!-- lobby chat -->
			<div id="chat" class="well">
				<div class="chat-body">
				</div>							
				<div class="text-box">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Message"/>
						<span class="input-group-btn">
							<button class="btn btn-primary" type="button">Send</button>
						</span>
					</div>
				</div>
			</div>

			<div class="row">
				<!-- connected users -->
				<div class="col-xs-12 col-sm-6 col-lg-4">
					<div class="row-title">
						Connected users: 
					</div>
					<div id="users-list">
					</div>
				</div>
				<!-- games list -->
				<div class="col-xs-12 col-sm-6 col-lg-offset-4 col-lg-4">
					<div class="row-title">
						Active games:
					</div>
					<div id="games-list">
					</div>
				</div>
			</div>

		</div>

		<!-- challenge modal -->
		<div id="challenge-modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						You have been challenged by <a class="challenger" target="_blank"></a>
						<div class="counter"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-success">Accept</button>
						<button type="button" class="btn btn-danger" data-dismiss="modal">Decline</button>
					</div>
				</div>
			</div>
		</div>
		
		<!-- challenge pending modal -->
		<div id="challenge-pending-modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						Challenge pending...
						<div class="counter"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
		
		<!-- user profile modal component -->
		<% include components/user-profile-modal.ejs %>
		
	</body>
</html>
