<!DOCTYPE html>
<html>
	<head>
		<title>User Profile</title>
		<% include partials/stylesheets.ejs %>
		<% include partials/scripts.ejs %>
	</head>
	<body class="user">

		<div class="container">
			<!-- header -->
			<% include partials/header.ejs %>
			
			user profile

			<hr/>

			<%= JSON.stringify(userData) %>
			
			game history

			<hr/>
			
			<%= JSON.stringify(gameHistory) %>
			
		</div>
		
	</body>
</html>
