<!DOCTYPE html>
<html>
	<head>
		<title>User Profile</title>
		<% include partials/stylesheets.ejs %>
		<% include partials/scripts.ejs %>
	</head>
	<body class="user">

		user profile

		<hr/>
		
		<%= JSON.stringify(userData) %>
		
	</body>
</html>
