<!DOCTYPE html>
<html>
	<head>
		<title>User Profile</title>
		<% include partials/stylesheets.ejs %>
		<% include partials/scripts.ejs %>
	</head>
	<body class="user" data-controllers="User Tabs">

		<script type="text/javascript">
			var myUser = <%- JSON.stringify(myUser) %>;
			var gameHistory = <%- JSON.stringify(gameHistory) %>;
		</script>

		<div class="container">
			<!-- header -->
			<% include partials/header.ejs %>

			<!-- tab buttons -->
			<div class="row no-pad">
				<div class="tab-button col-xs-6 col-sm-2 active" data-target="game-history">
					Game History
				</div>
				<div class="tab-button col-xs-6 col-sm-2" data-target="profile-settings">
					Profile Settings
				</div>
			</div>

			<!-- game history content -->
			<div id="game-history" class="tab-content active">
				game history
				
				<%= JSON.stringify(gameHistory) %>
			</div>

			<!-- profile settings content -->
			<div id="profile-settings" class="tab-content">
				profile settings
				
				<%= JSON.stringify(userData) %>
			</div>

			<hr/>			

			<div class="clearfix"></div>
			
			<a class="btn btn-primary lobby-btn" href="/lobby">
				Go to lobby
			</a>
			
		</div>

	</body>
</html>
