.title{
	margin-top: 50px;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	color: $blue;
}

.login-panel{
	margin: auto;
	margin-top: 50px;
	width: 300px;
	padding: 15px;
	background-color: #ffffff;

	.tab-pane{
		margin-top: 10px;

		label{
			color: $blue;
		}

	}

	button{
		display: block;
		margin: auto;
	}
}

#toast-container{
	margin-top: 90px;
}