
.page-header{
	font-size: 23px;
	border-bottom: none;

	.avatar-preview{
		width: 70px;
		height: 70px;
		border-radius: 100%;
		cursor: pointer;
	}

	#update-avatar-form{
		display: none;
	}

	.profile-link{
		font-weight: bold;
	}

	.logout-btn{
		float: right;
		margin-top: 20px;
	}
}

#chat{
	position: relative;
	padding: 0px;

	.chat-body{
		height: 150px;
		overflow-y: auto;
		padding: 12px;

		.message{
			span{
				margin-right: 5px;

				&.timestamp{
					color: #c5c5c5;
				}

				&.author{
					font-weight: bold;
					color: $blue;
				}
			}

			//system message
			&.system{

				&.connected{
					.content{
						color: $green;
					}
				}

				&.disconnected{
					.content{
						color: $red;
					}
				}
			}

		}
	}
}

#users-list{

	.alert{
		margin-bottom: 5px;
		padding: 5px;
		font-size: 17px;
		font-weight: bold;
		cursor: pointer;

		.avatar{
			width: 50px;
			height: 50px;
			margin-right: 5px;
			border-radius: 100%;
		}

		.user-info{
			float: right;
			display: block;
			padding: 14px;
			text-align: center;

			.glyphicon{
				top: 0px;
				vertical-align: middle;
				font-size: 20px;
			}
		}
	}

}

#games-list{
	.alert{
		margin-bottom: 5px;
		font-size: 17px;
		text-align: center;
		
		a{
			font-weight: bold;
		}
	}
}

#challenge-modal, #challenge-pending-modal{

	.modal-dialog{
		margin-top: 290px;
		
		@media (min-width: 768px){
			width: 400px;
		}

		.modal-body{
			text-align: center;
			
			.counter{
				margin-top: 10px;
				font-size: 18px;
				font-weight: bold;
			}
		}

		.modal-footer{
			text-align: center;
			padding-top: 0px;
			border: none;
		}
	}

}