
#chat{
	position: relative;
	padding: 0px;
	
	.chat-body{
		height: 150px;
		overflow-y: auto;
		padding: 12px;
		
		.message{
			span{
				margin-right: 5px;
				
				&.timestamp{
					color: #c5c5c5;
				}
				
				&.author{
					font-weight: bold;
					color: $blue;
				}
			}
			
			//system message
			&.system{
				
				&.connected{
					.content{
						color: $green;
					}
				}
				
				&.disconnected{
					.content{
						color: $red;
					}
				}
			}
			
		}
	}
}

#users-list{

	.alert{
		margin-bottom: 5px;
		cursor: pointer;
	}
	
}