
.modal-dialog{
	.modal-body{
	
		#game-history{
			
			.wtl{
				margin-top: 25px;
				width: 100%;
				text-align: center;
				
				thead{
					font-weight: bold;
					border-bottom: 1px solid #dddddd;
				}
				
				td{
					&:nth-child(1){
						color: $green;
					}
					
					&:nth-child(2){
						color: $blue;
					}
					
					&:nth-child(3){
						color: $red;
					}
				}
			}
			
			.games-list{
				margin-top: 25px;
			}
		}
		
	}
	
	.modal-footer{
		text-align: center;
	}
}